@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/style")

<header>
    <div class="container header__container">
        <div class="header_left">
            <h1> Grow your Skills to advance your career path</h1>
            <p>
                The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                and Masters Levels. The Scholarships are targeted at 2 persons per State including the FCT
                at Masters’ level and 1 person per geo-political zone at Doctorate level. This will enhance
                human capacity building in core areas of Information Technology across Nigeria. visit
                scholarship portal
            </p>

            <a href="Home/courses" class="btn btn-primary">Get Started</a>
        </div>
        <div class="header__right">
            <div class="header__right-image">
                <img src="~/images/avatar1.PNG" />
            </div>
        </div>
    </div>
</header>
@*End of head*@

<section class="categories">
    <div class="container categories__container">
        <div class="categories__left">
            <h1>Categories</h1>
            <p>
                The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                and Masters Levels. The Scholarships are targeted at 2 persons per State including the FCT
                at Masters’ level and 1 person per geo-political zone at Doctorate level. This will enhance
                human capacity building in core areas of Information Technology across Nigeria. visit
                scholarship portal
            </p>
            <a class="btn" href="#">Learn More</a>
        </div>
        <div class="categories__right">
            <article class="category">
                <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                <h5>Blockchain</h5>
                <p>
                    The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                    and Masters Levels.
                </p>
            </article>
            <article class="category">
                <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                <h5>Blockchain</h5>
                <p>
                    The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                    and Masters Levels.
                </p>
            </article>
            <article class="category">
                <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                <h5>Blockchain</h5>
                <p>
                    The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                    and Masters Levels.
                </p>
            </article>
            <article class="category">
                <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                <h5>Blockchain</h5>
                <p>
                    The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                    and Masters Levels.
                </p>
            </article>

            <article class="category">
                <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                <h5>Blockchain</h5>
                <p>
                    The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                    and Masters Levels.
                </p>
            </article>

            <article class="category">
                <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                <h5>Blockchain</h5>
                <p>
                    The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                    and Masters Levels.
                </p>
            </article>
        </div>
    </div>
</section>

<section class="courses">
    <h1>Our New Courses</h1>
    <div class="container courses__container">
        <article class="course">
            <div class="course__image">
                <img src="~/images/Course1.jpg" />
            </div>
            <div class="course__info">
                <h4>College of Medicine</h4>
                <p>
                    Accelerating Digital Transformation with Automation APIs
                    Making use of standardized APIs, such as those offered by MEF, allow you to
                    “invest once” and scale with multiple providers and services.
                </p>
                <a href="Home/courses" class="btn btn-primary">Learn More</a>
            </div>


        </article>


        <article class="course">
            <div class="course__image">
                <img src="~/images/Course2.jpg" />
            </div>
            <div class="course__info">
                <h4>Faculty of Law</h4>
                <p>
                    Accelerating Digital Transformation with Automation APIs
                    Making use of standardized APIs, such as those offered by MEF, allow you to
                    “invest once” and scale with multiple providers and services.
                </p>
                <a href="Home/courses" class="btn btn-primary">Learn More</a>
            </div>
        </article>


        <article class="course">
            <div class="course__image">
                <img src="~/images/Course3.jpg" />
            </div>
            <div class="course__info">

                <h4>Faculty of Agriculture</h4>
                <p>
                    Accelerating Digital Transformation with Automation APIs
                    Making use of standardized APIs, such as those offered by MEF, allow you to
                    “invest once” and scale with multiple providers and services.
                </p>
                <a href="Home/courses" class="btn btn-primary">Learn More</a>
            </div>
        </article>
    </div>
</section>

<section class="faqs">
    <h2>FREQUENTLY ASKED QUESTION</h2>
    <div class="container faqs__container">
        <article class="faq">
            <div class="faq__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4> How do I know the right course for me?</h4>
                <p>
                    Information Technology (IT) is increasingly recognised as the key enabler in promoting
                    knowledge-based growth, creating jobs and providing access to information and knowledge
                    for both developed and developing countries.
                </p>
            </div>
        </article>

        <article class="faq">
            <div class="faq__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4> How do I know the right course for me?</h4>
                <p>
                    Information Technology (e) is increasingly recognised as the key enabler in promoting
                    knowledge-based growth, creating jobs and providing access to information and knowledge
                    for both developed and developing countries.
                </p>
            </div>
        </article>

        <article class="faq">
            <div class="faq__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4> How do I know the right course for me?</h4>
                <p>
                    Information Technology (IT) is increasingly recognised as the key enabler in promoting
                    knowledge-based growth, creating jobs and providing access to information and knowledge
                    for both developed and developing countries.
                </p>
            </div>
        </article>

        <article class="faq">
            <div class="faq__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4> How do I know the right course for me?</h4>
                <p>
                    Information Technology (IT) is increasingly recognised as the key enabler in promoting
                    knowledge-based growth, creating jobs and providing access to information and knowledge
                    for both developed and developing countries.
                </p>
            </div>
        </article>

        <article class="faq">
            <div class="faq__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4> How do I know the right course for me?</h4>
                <p>
                    Information Technology (IT) is increasingly recognised as the key enabler in promoting
                    knowledge-based growth, creating jobs and providing access to information and knowledge
                    for both developed and developing countries.
                </p>
            </div>
        </article>

        <article class="faq">
            <div class="faq__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4> How do I know the right course for me?</h4>
                <p>
                    Information Technology (IT) is increasingly recognised as the key enabler in promoting
                    knowledge-based growth, creating jobs and providing access to information and knowledge
                    for both developed and developing countries.
                </p>
            </div>
        </article>

        <article class="faq">
            <div class="faq__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4> How do I know the right course for me?</h4>
                <p>
                    Information Technology (IT) is increasingly recognised as the key enabler in promoting
                    knowledge-based growth, creating jobs and providing access to information and knowledge
                    for both developed and developing countries.
                </p>
            </div>
        </article>

        <article class="faq">
            <div class="faq__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4> How do I know the right course for me?</h4>
                <p>
                    Information Technology (IT) is increasingly recognised as the key enabler in promoting
                    knowledge-based growth, creating jobs and providing access to information and knowledge
                    for both developed and developing countries.
                </p>
            </div>
        </article>

        <article class="faq">
            <div class="faq__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4> How do I know the right course for me?</h4>
                <p>
                    Information Technology (IT) is increasingly recognised as the key enabler in promoting
                    knowledge-based growth, creating jobs and providing access to information and knowledge
                    for both developed and developing countries.
                </p>
            </div>
        </article>

        <article class="faq">
            <div class="faq__icon"><i class="uil uil-plus"></i></div>
            <div class="question__answer">
                <h4> How do I know the right course for me?</h4>
                <p>
                    Information Technology (IT) is increasingly recognised as the key enabler in promoting
                    knowledge-based growth, creating jobs and providing access to information and knowledge
                    for both developed and developing countries.
                </p>
            </div>
        </article>
    </div>
</section>

@*/*+=============END OF FAQ===================*/*@

<section class="container testimonial__container mySwiper">
    <h2>STUDENT TESTMONIAL</h2>
    <div class="swiper-wrapper">
        <article class="testmonial swiper-slide">
            <div class="avatar">
                <img src="~/images/Course2.jpg" class="avatar__image" />
            </div>
            <div class="testimonial__info">
                <h5>Emma Ayi</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                    and Masters Levels. The Scholarships are targeted at 2 persons per State including the FCT at
                    Masters’ level and 1 person per geo-political zone at Doctorate level. This will enhance human
                    capacity building in core areas of Information Technology across Nigeria. visit scholarship
                    portal
                </p>
            </div>
        </article>

        <article class="testmonial swiper-slide">
            <div class="avatar">
                <img src="~/images/avatar1.PNG" class="avatar__image" />
            </div>
            <div class="testimonial__info">
                <h5>Diana Ayi</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                    and Masters Levels. The Scholarships are targeted at 2 persons per State including the FCT at
                    Masters’ level and 1 person per geo-political zone at Doctorate level. This will enhance human
                    capacity building in core areas of Information Technology across Nigeria. visit scholarship
                    portal
                </p>
            </div>
        </article>


        <article class="testmonial swiper-slide">
            <div class="avatar">
                <img src="~/images/avatar1.PNG" class="avatar__image" />
            </div>
            <div class="testimonial__info">
                <h5>Diana Ayi</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                    and Masters Levels. The Scholarships are targeted at 2 persons per State including the FCT at
                    Masters’ level and 1 person per geo-political zone at Doctorate level. This will enhance human
                    capacity building in core areas of Information Technology across Nigeria. visit scholarship
                    portal
                </p>
            </div>
        </article>


        <article class="testmonial swiper-slide">
            <div class="avatar">
                <img src="~/images/avatar1.PNG" class="avatar__image" />
            </div>
            <div class="testimonial__info">
                <h5>Diana Ayi</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                    and Masters Levels. The Scholarships are targeted at 2 persons per State including the FCT at
                    Masters’ level and 1 person per geo-political zone at Doctorate level. This will enhance human
                    capacity building in core areas of Information Technology across Nigeria. visit scholarship
                    portal
                </p>
            </div>
        </article>


        <article class="testmonial swiper-slide">
            <div class="avatar">
                <img src="~/images/avatar1.PNG" class="avatar__image" />
            </div>
            <div class="testimonial__info">
                <h5>Diana Ayi</h5>
                <small>Student</small>
            </div>
            <div class="testimonial__body">
                <p>
                    The scholarship scheme aims at promoting proficiency in Information Technology at Doctorate
                    and Masters Levels. The Scholarships are targeted at 2 persons per State including the FCT at
                    Masters’ level and 1 person per geo-political zone at Doctorate level. This will enhance human
                    capacity building in core areas of Information Technology across Nigeria. visit scholarship
                    portal
                </p>
            </div>
        </article>

    </div>
    <div class="swiper-pagination"></div>

</section>
@*/*+=============END OF FAQ===================*/*@

